.App {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup {
  margin-right: 15px;
}
.logout {
  margin-left: 15px;
}
.user {
  color: white;
  margin: 7px 0px 0px 0px;
}

.categoryBtn {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50vw;
}

.glassEffect {
  background-color: #20202010 !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px) !important;
}

.card {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.modal-content {
  background-color: #ffffff10 !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(5px) !important;
  color: #ffffff;
}
.btn-close {
  color: #ffffff !important;
}

.select {
  width: 500px;
}
